
@{
    ViewBag.Title = "Checkout";
}


<div class="ogami-breadcrumb">
    <div class="container">
        <ul>
            <li> <a class="breadcrumb-link" href="@Url.Action("Index", "Home")">Home</a></li>
            <li> <a class="breadcrumb-link" href="@Url.Action("Index", "Shop")">Shop</a></li>
            <li> <a class="breadcrumb-link" href="@Url.Action("Cart", "Shop")">Cart</a></li>
            <li><a class="breadcrumb-link active">Checkout</a></li>
        </ul>
    </div>
</div>
<!-- End breadcrumb-->
@*<div class="order-step">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="order-step_block">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4">
                            <div class="step-block step-block--1">
                                <div class="step">
                                    <h2>Shopping Cart</h2><span>01</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="step-block active">
                                <div class="step">
                                    <h2>Check Out</h2><span>02</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="step-block">
                                <div class="step">
                                    <h2>Order Completed</h2><span>03</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- End order step-->
<div class="shop-checkout">
    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h2 class="form-title">Shipping details</h2>
                    @*<div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">First Name*</label>
                            <input class="no-round-input-bg" id="inputFirstName" type="text" required name="firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Last Name*</label>
                            <input class="no-round-input-bg" id="inputLastName" type="text" required name="lastName">
                        </div>
                    </div>*@
                    
                    <div class="form-group">
                        <label for="inputCountry">Country*</label>
                        <input class="no-round-input-bg" type="text" required value="United Kingdom" name="country">
                        @*<select class="no-round-input-bg" id="inputContry">
            <option value="1">Vietnam</option>
            <option value="2">USA</option>
            <option value="3">Italy</option>
            <option value="4">China</option>
            <option value="5">Japan</option>
            <option value="6">Russia</option>
        </select>*@
                    </div>
                    <div class="form-group">
                        <label for="inputStreet">Street address*</label>
                        <input class="no-round-input-bg" id="inputStreet" type="text" required name="street">
                    </div>
                    <div class="form-group">
                        <label for="inputZip">Postcode / ZIP*</label>
                        <input class="no-round-input-bg" id="inputZip" type="text" name="postCode">
                    </div>
                    <div class="form-group">
                        <label for="inputCity">Town / City*</label>
                        <input class="no-round-input-bg" id="inputCity" type="text" required value="Leicester" name="city">
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Phone*</label>
                        <input class="no-round-input-bg" id="inputPhone" type="tel" pattern="[0-9]{11}" name="phone" required>
                        <span>Format: 07123456789</span>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h2 class="form-title">Your order</h2>
                    <div class="shopping-cart">
                        <div class="cart-total_block">
                            <table class="table">
                                <colgroup>
                                    <col span="1" style="width: 50%">
                                    <col span="1" style="width: 50%">
                                </colgroup>
                                <tbody>
                                    @if (Session["cart"] != null)
                                    {

                                        foreach (var item in (List<CartViewModel>)Session["cart"])
                                        {
                                            <tr>
                                                <th class="name">@item.ProductName × <span>@item.Quanity</span></th>
                                                <td class="price black" style="border-top: 0">£@item.Subtotal</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <th>SUBTOTAL</th>
                                        <td class="price">£@Session["total"]</td>
                                    </tr>
                                    <tr>
                                        <th>SHIPPING</th>
                                        <td>
                                            <p>Free shipping</p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>TOTAL</th>
                                        <td class="total">£@Session["total"]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @using (Html.BeginForm())
                        {
                        <button class="normal-btn submit-btn" type="submit" @*onclick='window.location = "@Url.Action("PrintInvoice", "Shop")";'*@ @*onclick='window.open("../InvoiceReport.aspx","_blank");'*@>Place order</button>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
