
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
@if (Session["cart"] != null)
{


    <table class="table table-responsive">

        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>BILL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List <CartViewModel>) Session["cart"])
            {

                <tr>
                    <td>@item.productid</td>
                    <td>@item.productname</td>
                    <td>@item.price</td>
                    <td>@item.qty</td>
                    <td>@item.bill</td>

                </tr>

            }

        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>Total: @Session["total"]</td>

            </tr>
        </tfoot>

    </table>





}
else
{
    <h2 style="color:red"> Cart is empty....</h2>
    @Html.ActionLink("go Back", "Index", "Shop")
}
