
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/custom_bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/css/elegant.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/scroll.css">
    <link href="~/Content/RateYo/jquery.rateyo.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico">
    <script src="~/Content/RateYo/jquery.min.js"></script>
    <script src="~/Content/RateYo/jquery.rateyo.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/jquery.easing.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/main.js"></script>


</head>
<body>
    <div id="main">
        <header>
            <div class="header-block d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="header-left d-flex flex-column flex-md-row align-items-center">
                                <p class="d-flex align-items-center"><i class="fas fa-envelope"></i>shekhizaz@gmail.com</p>
                                <p class="d-flex align-items-center"><i class="fas fa-phone"></i>+447305897349</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="header-right d-flex flex-column flex-md-row justify-content-md-end justify-content-center align-items-center">
                                @if (Session["UserID"] == null)
                                {

                                    <div class="login d-flex"><a href="@Url.Action("Login", "User")"><i class="fas fa-user"></i>Login or Register</a></div>

                                }
                                else
                                {
                                    if (Convert.ToInt32(Session["UserRoleID"]) == 1)
                                    {
                                    <div class="login d-flex">
                                        <a href="#"><i class="fas fa-user"></i>@Session["FirstName"] </a>
                                        &nbsp &nbsp
                                        <a href="@Url.Action("Index", "Category")">Admin Panel</a>
                                        &nbsp &nbsp

                                        <a class="text-danger" href="@Url.Action("Logout", "User")">Logout</a>
                                    </div>
                                    }
                                    else
                                    {
                                        <div class="login d-flex">
                                            <a href="#"><i class="fas fa-user"></i>@Session["FirstName"] </a>
                                            &nbsp &nbsp
                                            <a class="text-danger" href="@Url.Action("Logout", "User")">Logout</a>
                                        </div>

                                    }
                                }
        

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navigation d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <a class="logo" href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.png" alt=""></a>
                        </div>
                        <div class="col-8">
                            <div class="navgition-menu d-flex align-items-center justify-content-center">
                                <ul class="mb-0">
                                    <li class="toggleable">
                                        <a class="menu-item" href="@Url.Action("Index", "Home")">Home</a>

                                    </li>
                                    <li class="toggleable">
                                        <a class="menu-item" href="@Url.Action("Index", "Shop")">Shop</a>

                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-2">


                            <div class="navgition-menu d-flex align-items-center justify-content-center">
                                <ul class="mb-0">
                                    <li class="toggleable">
                                        <a class="menu-item" href="@Url.Action("Cart", "Shop")">Cart<b class="arrow_carrot-2down"></b></a>
                                        <ul class="sub-menu">

                                            @if (Session["cart"] != null)
                                            {
                                                foreach (CartViewModel item in (List<CartViewModel>)Session["cart"])
                                                {
                                                    <li>
                                                        <a href="@Url.Action("DeleteFromCart","Shop",new { productId=item.ProductID})">@item.ProductName (@item.Quanity)- £ @item.Subtotal <i class="fa fa-times"></i></a>
                                                    </li>
                                                }
                                                <li class="divider"></li>
                                                <li><a href="@Url.Action("Cart", "Shop")">Total: £ @Session["total"]</a></li>

                                            }
                                            



                                        </ul>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </nav>


           
            @using (Html.BeginForm("Index", "Shop", FormMethod.Post))
            {
                <div class="navigation-filter">
                    <div class="container">
                        <div class="row">


                                <div class="col-8 col-md-8 col-lg-5 col-xl-7">
                                    <input id="mainSearchTxt" class="no-round-input " type="text" placeholder="enter search text" name="search">

                                        </div>
                                        <div class="col-4 col-md-4 col-lg-3 col-xl-2">
                                            <button class="no-round-btn" id="mainSearchBtn">Search</button>
                                        </div>

                        </div>
                    </div>
                </div>
            }
           
            <br />
            <br />
        </header>
        <!-- End header-->

        @RenderBody()

        <footer>
            <br />
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 text-sm-center text-md-left">
                        <div class="footer-logo">
                            <a class="logo" href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.png" alt=""></a>
                        </div>
                        <div class="footer-contact">
                            <p>Address: Leicester</p>
                            <p>Phone: +447305897349</p>
                            <p>Email: shekhizaz@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">

                            <div class="col-12 col-sm-4 text-sm-center text-md-left">
                                <div class="footer-quicklink">
                                  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><a href="#">Shopping cart</a><a href="@Url.Action("Index", "Shop")">Shop</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-credit">
                <div class="container">
                    <div>
                        <p class="author" style="text-align:center">Copyright © 2019  - All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer-->

    </div>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 105;"><i class="arrow_carrot-up"></i></a>

</body>
</html>
